<div class="primary-content primary-typography margin-left-100-rem margin-right-100-rem center-all">
  <div class="l12 display-flex justify-content-space-between">
    <div class="primary-card border-card row">
      <div class="col s2 m6 margin-top-50-rem">
        <button class="primary-button button-md margin-vertical-0" (click)="goBack()">Volver</button>
      </div>
      <h3 class="title-style cl-primary-color-theme-important">Iniciar sesion</h3>
      <div class="col s12 l12 margin-bottom-100-rem">
        <label class="text-style  cl-primary-color-theme-important">Usuario</label>
        <label class="primary-form-field">
          <input type="text" class="primary-input" formControlName="gastos_administrativos">
        </label>
      </div>
      <div class="col s12 l12 margin-bottom-100-rem">
        <label class="text-style cl-primary-color-theme-important">Contraseña</label>
        <label class="primary-form-field">
          <input type="password" class="primary-input" formControlName="gastos_administrativos">
        </label>
      </div>
      <button class="primary-button button-md border-none-important position-relative margin-top-50-rem full-width">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
