<div class="primary-content">
  <div class="row margin-top-50-rem">
    <div class="col l12 center-all">
      <div class="primary-card">
        <div class="col s2 m6 margin-top-50-rem">
          <button class="primary-button button-md" (click)="goBack()">Volver</button>
        </div>
        <h3 class="title-style cl-primary-color-theme-important">Iniciar sesion</h3>
        <div class="col s12 l6 margin-bottom-100-rem">
          <label class="text-style  cl-primary-color-theme-important">Usuario</label>
          <label class="primary-form-field">
            <input type="text" class="primary-input" formControlName="gastos_administrativos">
          </label>
        </div>
        <div class="col s12 l6 margin-bottom-100-rem">
          <label class="text-style cl-primary-color-theme-important">Contraseña</label>
          <label class="primary-form-field">
            <input type="password" class="primary-input" formControlName="gastos_administrativos">
          </label>
        </div>
        <button class="primary-button button-md border-none-important position-relative margin-top-50-rem full-width">
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</div>
